<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JISX0213NETA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <JISX0213NETA.My.MySettings>
            <setting name="font" serializeAs="String">
                <value>MS UI Gothic, 9pt</value>
            </setting>
            <setting name="mscodepage" serializeAs="String">
                <value>2132004</value>
            </setting>
            <setting name="out" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usercp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="usercpsel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cpstr" serializeAs="String">
                <value>0 OS defalut</value>
            </setting>
            <setting name="pos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="jis208" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastfile" serializeAs="String">
                <value />
            </setting>
            <setting name="jisoutput" serializeAs="String">
                <value>2004</value>
            </setting>
            <setting name="big5order" serializeAs="String">
                <value>False</value>
            </setting>
        </JISX0213NETA.My.MySettings>
    </userSettings>
</configuration>
