p.cwc {background-color: #000000; margin: 10px 300px 10px 380px;}
p.green {background-color: #000000; color: #C0F060; margin: 10px 300px 10px 380px;}
p.ar {background-color: #000000; margin: 10px 300px 10px 380px;}