<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MKTABLE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MKTABLE.My.MySettings>
            <setting name="noms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="seljis" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="selenc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tablest" serializeAs="String">
                <value>&lt;table border=1&gt;</value>
            </setting>
            <setting name="tableen" serializeAs="String">
                <value>&lt;/table&gt;</value>
            </setting>
            <setting name="tablerowst" serializeAs="String">
                <value>&lt;tr&gt;</value>
            </setting>
            <setting name="tablerowen" serializeAs="String">
                <value>&lt;/tr&gt;</value>
            </setting>
            <setting name="tableheaderst" serializeAs="String">
                <value>&lt;th bgcolor="#FFCC33"&gt;</value>
            </setting>
            <setting name="tableheaderen" serializeAs="String">
                <value>&lt;/th&gt;</value>
            </setting>
            <setting name="tabledatast" serializeAs="String">
                <value>&lt;td bgcolor="#C0C0F0"&gt;</value>
            </setting>
            <setting name="tabledataen" serializeAs="String">
                <value>&lt;/td&gt;</value>
            </setting>
            <setting name="mstable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="htmltblmode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thexval" serializeAs="String">
                <value>&lt;tr style="background:#333;color:#fff;"&gt;
&lt;th width="4%"&gt;CP&lt;/th&gt;
&lt;th width="6%"&gt;0&lt;/th&gt;
&lt;th width="6%"&gt;1&lt;/th&gt;
&lt;th width="6%"&gt;2&lt;/th&gt;
&lt;th width="6%"&gt;3&lt;/th&gt;
&lt;th width="6%"&gt;4&lt;/th&gt;
&lt;th width="6%"&gt;5&lt;/th&gt;
&lt;th width="6%"&gt;6&lt;/th&gt;
&lt;th width="6%"&gt;7&lt;/th&gt;
&lt;th width="6%"&gt;8&lt;/th&gt;
&lt;th width="6%"&gt;9&lt;/th&gt;
&lt;th width="6%"&gt;A&lt;/th&gt;
&lt;th width="6%"&gt;B&lt;/th&gt;
&lt;th width="6%"&gt;C&lt;/th&gt;
&lt;th width="6%"&gt;D&lt;/th&gt;
&lt;th width="6%"&gt;E&lt;/th&gt;
&lt;th width="6%"&gt;F&lt;/th&gt;
&lt;/tr&gt;</value>
            </setting>
            <setting name="cpuni" serializeAs="String">
                <value>False</value>
            </setting>
        </MKTABLE.My.MySettings>
    </userSettings>
</configuration>
