<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CWcheat_Database_Editor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <CWcheat_Database_Editor.My.MySettings>
            <setting name="MSCODEPAGE" serializeAs="String">
                <value>932</value>
            </setting>
            <setting name="codetree" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="CT_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="GID_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="GT_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="cmt_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="cl_tb" serializeAs="String">
                <value>ＭＳ ゴシック, 9pt</value>
            </setting>
            <setting name="TOP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ERR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="browser" serializeAs="String">
                <value>IExplore.exe</value>
            </setting>
            <setting name="gridview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastcodepath" serializeAs="String">
                <value />
            </setting>
            <setting name="gridvalueedit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="download" serializeAs="String">
                <value>http://unzu127xp.pa.land.to/mogura/writelog.php?dl=http://unzu127xp.pa.land.to/data/IJIRO/CDEMOD/bin/Release/CDE_CP932_FM4.exe</value>
            </setting>
        </CWcheat_Database_Editor.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
