<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="umd_rawimage_manger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <umd_rawimage_manger.My.MySettings>
            <setting name="drivepath" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="isobase" serializeAs="String">
                <value />
            </setting>
            <setting name="hbhash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xml" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="imgdir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="lockdrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pspgid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="instdir" serializeAs="String">
                <value>X:\ISO\
X:\ISO\VIDEO\
X:\PSP\GAME\
X:\PSP\GAME\CAT_ISO\
X:\PSP\GAME\CAT_GAME\
X:\PSP\GAME\CAT_PSX\
X:\PSP\GAME\CAT_APP\
X:\PSP\GAME\CAT_TOOL\
X:\PSP\GAME\CAT_HOMEBREW\
X:\PSP\GAME\UPDATE\
X:\PSP\GAME150\
X:\PSP\GAME151\
X:\PSP\GAME152\
X:\PSP\GAME200\
X:\PSP\GAME201\
X:\PSP\GAME250\
X:\PSP\GAME270\
X:\PSP\GAME271\
X:\PSP\GAME280\
X:\PSP\GAME281\
X:\PSP\GAME282\
X:\PSP\GAME300\
X:\PSP\GAME301\
X:\PSP\GAME302\
X:\PSP\GAME310\
X:\PSP\GAME311\
X:\PSP\GAME330\
X:\PSP\GAME340\
X:\PSP\GAME350\
X:\PSP\GAME351\
X:\PSP\GAME352\
X:\PSP\GAME370\
X:\PSP\GAME371\
X:\PSP\GAME372\
X:\PSP\GAME380\
X:\PSP\GAME390\
X:\PSP\GAME393\
X:\PSP\GAME395\
X:\PSP\GAME400\
X:\PSP\GAME403\
X:\PSP\GAME405\
X:\PSP\GAME500\
X:\PSP\GAME501\
X:\PSP\GAME502\
X:\PSP\GAME503\
X:\PSP\GAME550\
X:\PSP\GAME551\
X:\PSP\GAME610\
X:\PSP\GAME620\
X:\PSP\GAME630\
X:\PSP\GAME631\
X:\PSP\GAME635\
X:\PSP\GAME637\
X:\PSP\GAME638\
X:\PSP\GAME639\
X:\PSP\GAME660\</value>
            </setting>
            <setting name="imgbase" serializeAs="String">
                <value />
            </setting>
            <setting name="pspinsdir" serializeAs="String">
                <value />
            </setting>
            <setting name="datpath" serializeAs="String">
                <value />
            </setting>
            <setting name="rename" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="diskver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwayssave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="romcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xmlindex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sabunindex" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="xmlfoot" serializeAs="String">
                <value>&lt;/games&gt;
	&lt;gui&gt;
		&lt;images width="431" height="183"&gt;
			&lt;image x="0" y="0" width="104" height="181"/&gt;
			&lt;image x="109" y="0" width="320" height="181"/&gt;
		&lt;/images&gt;
	&lt;/gui&gt;
&lt;/dat&gt;</value>
            </setting>
            <setting name="xmlhead" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="UTF-8" standalone="no"?&gt;
&lt;dat xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="datas.xsd"&gt;
	&lt;configuration&gt;
		&lt;datName&gt;Sony PSP Collection USER&lt;/datName&gt;
		&lt;imFolder&gt;Sony PSP Collection USER&lt;/imFolder&gt;
		&lt;datVersion&gt;9999&lt;/datVersion&gt;
		&lt;system&gt;Sony PSP&lt;/system&gt;
		&lt;screenshotsWidth&gt;320&lt;/screenshotsWidth&gt;
		&lt;screenshotsHeight&gt;181&lt;/screenshotsHeight&gt;
		&lt;infos&gt;
			&lt;releaseNumber visible="true" inNamingOption="true" default="false"/&gt;
			&lt;title visible="false" inNamingOption="true" default="false"/&gt;
			&lt;saveType visible="true" inNamingOption="true" default="true"/&gt;
			&lt;publisher visible="true" inNamingOption="true" default="true"/&gt;
			&lt;sourceRom visible="true" inNamingOption="true" default="true"/&gt;
			&lt;romSize visible="true" inNamingOption="true" default="true"/&gt;
			&lt;romCRC visible="true" inNamingOption="true" default="true"/&gt;
			&lt;im1CRC visible="true" inNamingOption="false" default="true"/&gt;
			&lt;im2CRC visible="true" inNamingOption="false" default="true"/&gt;
			&lt;comment visible="true" inNamingOption="true" default="true"/&gt;
			&lt;languages visible="true" inNamingOption="true" default="false"/&gt;
			&lt;languageNumber visible="true" inNamingOption="true" default="false"/&gt;
		&lt;/infos&gt;
		&lt;canOpen&gt;
			&lt;extension&gt;.iso&lt;/extension&gt;
		&lt;/canOpen&gt;
		&lt;newDat&gt;
 			&lt;datVersionURL&gt;http://&lt;/datVersionURL&gt;
			&lt;datURL fileName="PSP_List.zip"&gt;http://&lt;/datURL&gt;
			&lt;imURL&gt;http://&lt;/imURL&gt;
		&lt;/newDat&gt;
		&lt;search&gt;
			&lt;to value="saveType" default="true" auto="true"/&gt;
			&lt;to value="publisher" default="true" auto="true"/&gt;
			&lt;to value="sourceRom" default="true" auto="true"/&gt;
		&lt;/search&gt;
		&lt;romTitle&gt;%u - %n&lt;/romTitle&gt;
	&lt;/configuration&gt;
	&lt;games&gt;
</value>
            </setting>
            <setting name="filenamecrc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="unpackdir" serializeAs="String">
                <value>unpack\</value>
            </setting>
            <setting name="usemd5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vitasavedir" serializeAs="String">
                <value />
            </setting>
        </umd_rawimage_manger.My.MySettings>
    </userSettings>
</configuration>
