<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="umd_rawimage_manger.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <umd_rawimage_manger.My.MySettings>
            <setting name="drivepath" serializeAs="String">
                <value>D:</value>
            </setting>
            <setting name="isobase" serializeAs="String">
                <value />
            </setting>
            <setting name="hbhash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xml" serializeAs="String">
                <value />
            </setting>
            <setting name="imgdir" serializeAs="String">
                <value />
            </setting>
            <setting name="lockdrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pspgid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="instdir" serializeAs="String">
                <value>X:\ISO\
X:\ISO\VIDEO\
X:\PSP\GAME\
X:\PSP\GAME\CAT_ISO\
X:\PSP\GAME\CAT_GAME\
X:\PSP\GAME\CAT_PSX\
X:\PSP\GAME\CAT_APP\
X:\PSP\GAME\CAT_TOOL\
X:\PSP\GAME\CAT_HOMEBREW\
X:\PSP\GAME\UPDATE\
X:\PSP\GAME150\
X:\PSP\GAME151\
X:\PSP\GAME152\
X:\PSP\GAME200\
X:\PSP\GAME201\
X:\PSP\GAME250\
X:\PSP\GAME270\
X:\PSP\GAME271\
X:\PSP\GAME280\
X:\PSP\GAME281\
X:\PSP\GAME282\
X:\PSP\GAME300\
X:\PSP\GAME301\
X:\PSP\GAME302\
X:\PSP\GAME310\
X:\PSP\GAME311\
X:\PSP\GAME330\
X:\PSP\GAME340\
X:\PSP\GAME350\
X:\PSP\GAME351\
X:\PSP\GAME352\
X:\PSP\GAME370\
X:\PSP\GAME371\
X:\PSP\GAME372\
X:\PSP\GAME380\
X:\PSP\GAME390\
X:\PSP\GAME393\
X:\PSP\GAME395\
X:\PSP\GAME400\
X:\PSP\GAME403\
X:\PSP\GAME405\
X:\PSP\GAME500\
X:\PSP\GAME501\
X:\PSP\GAME502\
X:\PSP\GAME503\
X:\PSP\GAME550\
X:\PSP\GAME551\
X:\PSP\GAME610\
X:\PSP\GAME620\
X:\PSP\GAME630\
X:\PSP\GAME631\
X:\PSP\GAME635\
X:\PSP\GAME637\
X:\PSP\GAME638\
X:\PSP\GAME639\
X:\PSP\GAME660\</value>
            </setting>
            <setting name="imgbase" serializeAs="String">
                <value />
            </setting>
            <setting name="pspinsdir" serializeAs="String">
                <value />
            </setting>
            <setting name="datpath" serializeAs="String">
                <value />
            </setting>
            <setting name="rename" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="diskver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="edit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwayssave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="romcode" serializeAs="String">
                <value>False</value>
            </setting>
        </umd_rawimage_manger.My.MySettings>
    </userSettings>
</configuration>
